*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f0f0f;
color:#fff;
display:flex;
flex-direction:column;
align-items:center;
}

header{
width:100%;
padding:20px;
background:#171717;
border-bottom:1px solid #262626;
}

.logo{
font-size:28px;
font-weight:bold;
color:#ff2d55;
text-align:center;
}

main{
width:100%;
display:flex;
justify-content:center;
padding:50px 20px;
}

.upload-box{

width:100%;
max-width:500px;

background:#181818;

padding:30px;

border-radius:20px;

text-align:center;

}

.upload-box h1{

margin-bottom:10px;

}

.upload-box p{

color:#999;

margin-bottom:25px;

}

.btn{

display:inline-block;

padding:15px 30px;

background:#ff2d55;

border-radius:12px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.btn:hover{

background:#ff4b70;

}

.progress{

margin-top:25px;

width:100%;

height:10px;

background:#2d2d2d;

border-radius:50px;

overflow:hidden;

display:none;

}

.bar{

width:0%;

height:100%;

background:#ff2d55;

}

#status{

margin-top:15px;

}

.result{

display:none;

margin-top:25px;

}

.result input{

width:100%;

padding:12px;

background:#101010;

color:white;

border:none;

border-radius:10px;

margin-bottom:10px;

}

.result button{

width:100%;

padding:12px;

background:#ff2d55;

border:none;

color:white;

border-radius:10px;

cursor:pointer;

}